<footer class="footer">
  <a href="./index.html#start"><span class="arrow_button"></span></a>
  <div class="footer-container">
    <nav>
      <ul class="list_footer">
        <a href="https://adalab.es/" target="_blank" class="link">
          <li>articles</li>
        </a>
        <a href="https://adalab.es/" target="_blank" class="link">
          <li>books</li>
        </a>
        <a href="https://adalab.es/" target="_blank" class="link">
          <li>events</li>
        </a>
        <a href="https://adalab.es/" target="_blank" class="link">
          <li>reasons</li>
        </a>
        <a href="https://adalab.es/" target="_blank" class="link">
          <li>tips</li>
        </a>
      </ul>
    </nav>
    <nav>
      <ul class="list_footer">
        <a href="https://adalab.es/" target="_blank" class="link">
          <li>twitter</li>
        </a>
        <a href="https://adalab.es/" target="_blank" class="link">
          <li>instagram</li>
        </a>
        <a href="https://adalab.es/" target="_blank" class="link">
          <li>mastodon.social</li>
        </a>
      </ul>
    </nav>
    <div class="copy_footer">
      <small class="copy_container">&copy;2022</small>
      <p class="components">we <span class="heart">❤︎</span> components</p>
    </div>
  </div>
</footer>