<main>
    <!--first-section-->
    <section class="first_section">
        <p class="first_text">insomnia tips</p>
        <p class="second_text">looking through a window</p>
        <p class="third_text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec
            lectus. Vivamus semper sodales rutrum.</p>
        <span class="go_button">go</span>
    </section>

    <!--second-section-->
    <section id="reasons" class="second_section">
        <h2 class="h2_title">3 reasons to purchase</h2>
        <div>
            <p class="first_paragraph">Ut sed metus</p>
            <p class="second_paragraph">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div>
            <p class="first_paragraph">Curabitur ac erat</p>
            <p class="second_paragraph">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div>
            <p class="first_paragraph">Morbi dictum</p>
            <p class="second_paragraph">Aliquam in dolor et dolor tincidunt.</p>
        </div>
        <div class="div_button">
            <span class="reasons_button">more reasons</span>
        </div>
    </section>
</main>