$roboto-slab-font: "RobotoSlab-Bold";
$white-color: white;
$orange-color: #f26002;
$capitalize-text: capitalize;
$background-center: center center;
$size-20px: 20px;
$size-24px: 24px;
$size-40px: 40px;
