/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  font-family: "Roboto"; }

/*HEADER*/
.image_container {
  background-image: url("../images/cover.jpeg");
  max-width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex; }

.header_menu_container {
  background-image: url("../images/ico-menu.svg");
  background-color: #0271bc;
  background-repeat: no-repeat;
  background-position: center center;
  height: 22px;
  width: 37px;
  position: fixed; }

.header_text_container {
  color: white;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  gap: 15px;
  flex-direction: column;
  padding-bottom: 25px; }

.h1_text {
  font-size: 42px;
  font-family: "RobotoSlab";
  text-transform: uppercase; }

.button_circle {
  display: flex;
  background-image: url("../images/ico-scroll-down.svg");
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto; }

/*MAIN*/
/*First-section*/
.first_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 376px;
  margin-left: 15px;
  margin-right: 15px;
  gap: 15px;
  line-height: 30px; }

.first_text {
  color: #8ccbea;
  font-size: 14px;
  text-transform: capitalize; }

.second_text {
  font-size: 24px;
  font-family: "RobotoSlab";
  font-weight: bold;
  text-transform: capitalize;
  /*word-spacing: 5vw; /*REVISAR, NO es la mejor manera*/ }

.third_text {
  color: #4a4a4a;
  font-size: 18px; }

.go_button {
  color: #f26002;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  border: 2.5px solid #f26002;
  width: 76px;
  height: 45px;
  border-radius: 40px;
  padding-top: 4px;
  margin-top: 15px;
  text-align: center; }

/*second-section*/
.second_section {
  background-color: #eff9ff;
  height: 624px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 70px 70px 70px 70px;
  row-gap: 45px;
  text-align: center;
  padding-left: 68px;
  padding-right: 68px; }

.h2_title {
  font-size: 24px;
  font-family: "RobotoSlab";
  text-transform: capitalize;
  padding-top: 29px; }

.first_paragraph {
  display: grid;
  font-size: 18px;
  color: black;
  font-family: "RobotoSlab";
  font-weight: bold; }

.second_paragraph {
  font-size: 18px;
  font-family: "Roboto-Regular"; }

.reasons_button {
  display: grid;
  background-color: #f26002;
  color: white;
  font-size: 20px;
  align-items: center;
  height: 45px;
  width: 184px;
  border-radius: 22.5px;
  align-items: auto;
  /*TO DO center button*/ }

/*footer*/
.footer {
  background-color: #304268;
  color: white;
  text-transform: uppercase;
  height: 465px;
  display: flex;
  flex-direction: column;
  text-align: center; }

.arrow_button {
  display: flex;
  background-image: url("../images/ico-arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transform: translateY(-25px);
  position: relative;
  margin: 0 auto; }

.list_footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px; }

.link {
  text-decoration: none;
  color: white; }

.nav_list-one {
  padding-top: 40px; }

.nav_list-two {
  padding-top: 30px; }

.copy_container {
  padding-top: 32px; }

.components {
  text-transform: lowercase;
  padding-top: 20px; }

/*MEDIA-QUERIES:Tablet*/
/*Header*/
@media (min-width: 768px) {
  .header_menu_container {
    height: 44px;
    width: 41.6px; }
  .header_text_container {
    width: 100%; }
  .h1_text {
    font-size: 80px; }
  .hero_text {
    font-size: 24px;
    margin-right: 250px;
    margin-left: 250px; }
  .button_circle {
    height: 45px;
    width: 42.5px; }
  /*MAIN*/
  /*first-section*/
  .second_text {
    font-size: 26px; }
  .third-text {
    font-size: 20px; }
  .go_button {
    width: 91px;
    height: 45px; }
  /*second-section*/
  .second_section {
    background-color: #eff9ff;
    height: 397px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    text-align: center;
    row-gap: 38px; }
  .reason_one {
    grid-column: 1/4;
    font-size: 26px; }
  .reason_three {
    grid-column: 2/3; }
  .first_paragraph {
    font-size: 24px; }
  .second_paragraph {
    font-size: 20px; }
  .reasons_button {
    height: 45px;
    width: 210px;
    font-size: 20px; }
  /*FOOTER*/
  .footer {
    border: 3px solid red; }
  .list {
    border: 2px solid black; } }

/*Desktop*/
/*HEADER*/
@media (min-width: 1200px) {
  .h1_text {
    font-size: 100px;
    padding-left: 275px;
    padding-right: 275px; }
  .button_circle {
    height: 45px;
    width: 45px; }
  /*MAIN*/
  /*First-section*/
  .first_section {
    padding-left: 275px;
    padding-right: 275px; }
  .first_text {
    font-size: 16px; }
  .second_text {
    font-size: 32px; }
  .third_text {
    font-size: 20px; }
  .go_button {
    width: 160px; }
  /*second-section*/
  .second_section {
    padding-left: 81px;
    padding-right: 81px; }
  .h2_title {
    font-size: 32px; }
  .first_paragraph {
    font-size: 24px; }
  .second_paragraph {
    font-size: 20px; }
  .reasons_button {
    width: 255px;
    font-size: 20px; }
  /*Footer*/ }

/*# sourceMappingURL=main.css.map */
