.footer {
  background-color: #304268;
  color: $white-color;
  text-transform: uppercase;
  height: 465px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.arrow_button {
  display: flex;
  background-image: url("../images/ico-arrow.svg");
  background-position: $background-center;
  background-repeat: no-repeat;
  background-color: $white-color;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transform: translateY(-25px);
  position: relative;
  margin: 0 auto;
  animation-name: change-color;
  animation: change-color 3s infinite;
  cursor: pointer;
}
.list_footer {
  display: flex;
  list-style: none;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding-top: $size-40px;
}
.link {
  text-decoration: none;
  color: $white-color;
}
.copy_footer {
  padding-top: 32px;
  text-transform: lowercase;
}
.heart {
  color: $orange-color;
}

@keyframes change-color {
  10% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleX(1) scaleY(-1);
    background-color: #2d56ad;
    opacity: 0.5;
  }
}

@media (min-width: 768px) {
  .footer {
    height: 240px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 39px;
    padding-right: 39px;
  }
  .copy_footer {
    order: -1;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding-left: 170px;
    padding-right: 170px;
  }
}
